.wrap
    .bg
        background-image: url(../img/bg.jpg)
        background-position: center
        background-size: cover
        background-repeat: no-repeat
        opacity: 0.4
        height: 100vh
        position: fixed
        top: 0
        left: 0
        right: 0
        bottom: 0
    main
        h1
            position: absolute
            top: 5%
            left: 50%
            width: 90%
            transform: translateX(-50%)
            text-align: center
            font-size: 3em
            font-weight: bold
        .gra
            position: absolute
            top: 15%
            left: 10%
            right: 10%
            text-align: center
            padding: 10px
            h2
                font-size: 2em
                color: white
                text-transform: uppercase
                margin-bottom: 20px
            div
                display: flex
                justify-content: space-between
                align-content: space-between
                flex-wrap: wrap
                height: 45vh
                div
                    flex-basis: 40%
                    height: 20vh
                    position: relative
                    overflow: hidden
                    img
                        position: absolute
                        top: 50%
                        left: 50%
                        transform: translate(-50%, -50%)
                        max-height: 100%
                        max-width: 100%
                .siema
                    margin: 0px auto

            button
                margin-top: 10px
                font-size: 1.5em
                padding: 5px
                font-weight: bold
                text-transform: uppercase
                color: white
                background-color: black
                border: 1px solid black
                border-radius: 5px
    .panel
        position: absolute
        display: flex
        left: 10%
        right: 10%
        bottom: 10%
        div
            flex-basis: 50%
            text-align: center
            h3
                font-size: 2em
